<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>



<script src="/JS/instascan.min.js"></script>
<div class="container p-4" id="conti">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>
                        Tarea de {{mate}}
                    </h3>
                </div>
                <div class="card-boddy">

                    <div>
                        <img id="login" src="/imagen/clase.jpg" alt="logo Antz"
                            class="card-img-top mx-auto m-2 rounded-circle w-10">
                    </div>
                    <div>
                        <h3>
                            {{titulo}} {{descripcion}}
                        </h3>
                    </div>
                    {{dato}}
                    <form id="formu" action="/notes/checkin/{{dato}}" method="POST">
                        <div>
                            <video id="preview" width="100%" height="100%"></video>
                            <input type="text" value="{{texto}}" id="texto" name="texto" value="Hola">
                        </div>
                        <div class="input-group mb-3" id="Tabla">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success btn-block">Guardar Tarea</button>
                        </div>
                        <div>
                            <input type="text" name="posteo" id="posteo">
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="container p-4" id="conti1">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header rojo">
                    <h5 class="fonts modal-title">Calificación de la Tarea</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="rojo modal-body">
                    <div class="row">
                        <table class="table table-dark">
                            <tr>
                                <td>0</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td><input type="radio" id='0' name="optradio"></td>
                                <td><input type="radio" id='1' name="optradio"></td>
                                <td><input type="radio" id='2' name="optradio"></td>
                                <td><input type="radio" id='3' name="optradio"></td>
                                <td><input type="radio" id='4' name="optradio"></td>
                                <td><input type="radio" id='5' name="optradio"></td>
                                <td><input type="radio" id='6' name="optradio"></td>
                                <td><input type="radio" id='7' name="optradio"></td>
                                <td><input type="radio" id='8' name="optradio"></td>
                                <td><input type="radio" id='9' name="optradio"></td>
                                <td><input type="radio" id='10' name="optradio"></td>
                            </tr>
                        </table>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" id="Envia" class="btn btn-primary">Calificación</button>
                </div>

            </div>
        </div>
    </div>



</div>



<script>

    const tablaDiv = document.getElementById('Tabla');
    const btn45 = document.getElementById('btn45');
    var datos = [];
    var cod = "";
    var jss = [];
    var retVal = "";
    var fi034 = "";
    var cod1 = "";

    function comenzar() {
        //datos.push({'pagi':'{{dato}}'})
        document.getElementById("Tabla").innerHTML = "";
        carga();
        scanQr();
       
    }
    function carga() {
        import('https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js');
        var str = [{}];
        str1 = "{{alum01}}";
        if (str1 == "") {
            console.log("Vacio");
        } else {
            var str = str1;
            var res = str.replace(/&quot;/g, '"');
            res1 = res.replace(/&#x3D;/g, '=');
            jss = JSON.parse(res1);
            tablaEner();
        }
    }
    function tablaEner() {
        document.getElementById('Tabla').innerHTML = "";
        var materia1 = "{{mate}}";
        var body = document.getElementById('Tabla');
        var tabla = document.createElement("table");
        var tblBody = document.createElement("tbody");
        var fila = document.createElement("tr");
        var { butn, nomBtn } = "";

        for (var y = 0; y < 4; y++) {
            var celda = document.createElement("td");
            switch (y) {
                case 0:
                    nomBtn = "Nombre";
                    break;
                case 1:
                    nomBtn = "Paterno";
                    break;
                case 2:
                    nomBtn = "Materno";
                    break;
                case 3:
                    nomBtn = "Grado";
                    break;
            }
            butn = document.createTextNode(nomBtn);

            celda.appendChild(butn);
            celda.setAttribute('style', 'font-size:80%;');
            fila.appendChild(celda);
        }
        tblBody.appendChild(fila);
        for (var i = 0; i < jss.length; i++) {
            fila = document.createElement("tr");
            for (var j = 0; j < 6; j++) {
                celda = document.createElement("td");
                switch (j) {
                    case 0:
                        butn = document.createTextNode(jss[i].nombre);
                        break;
                    case 1:
                        butn = document.createTextNode(jss[i].aPaterno);
                        break;
                    case 2:
                        butn = document.createTextNode(jss[i].aMaterno);
                        break;
                    case 3:
                        butn = document.createTextNode(jss[i].grado + jss[i].grupo);
                        break;
                    case 4:
                        butn = document.createElement('input');
                        //butn.setAttribute('class', 'input-group mb-2 nom1')
                        butn.setAttribute("id", jss[i].codQr);
                        //var ima = document.createElement('input');
                        butn.setAttribute("type", "checkbox")
                        butn.setAttribute("id", jss[i].codQr);

                        //butn.appendChild(ima);
                        butn.addEventListener("click", clickchec, false);
                        break;
                    case 5:
                        butn = document.createElement('input');
                        //var ima1 = document.createElement('input');
                        //ima1.setAttribute("type", "text");
                        butn.setAttribute("id", jss[i].codQr + "," + "text");
                        butn.setAttribute('style', 'width:10px;height:8px');
                        butn.setAttribute('class', 'input-group mb-2 norma ');
                        butn.setAttribute('style', 'width:80%;height:80%');
                        //butn.setAttribute('id','cabecera')
                        //ima1.setAttribute('class', 'norma');
                        //ima1.setAttribute('disabled', "disabled");
                        //butn.appendChild(ima1);
                        break;
                }
                celda.setAttribute('style', 'font-size:80%; width:80%;height:10%;text-align: center"');
                celda.appendChild(butn);
                fila.appendChild(celda);
            }
            tblBody.appendChild(fila);
        }
        tabla.appendChild(tblBody);
        body.appendChild(tabla);
        tabla.setAttribute('class', ' table table-dark nom1');


    }


    //genera ventana flotante
    function clickchec(e) {
        const y = e.target.getAttribute('id');
        activar(y);
    };
    function activar(y) {
        fi034 = "";
        cod = y;
        cod1 = y + "," + "text";
        document.getElementById(cod1).value = "";
        if (document.getElementById(cod).checked == true) {
            VerCondiciones();
        } else {
            cance();
            console.log("No paso" + fi034);
        }
    };
    function VerCondiciones() {

        $('#myModal').modal({ keyboard: true })   // initialized with no keyboard

        //$("#myModal").modal('show');
        const btt = document.getElementById('Envia');
        const btt1 = document.getElementById('cancel');
        btt.addEventListener('click', fun01, {}, false);
        btt1.addEventListener('click', cance, false);
    }
    function fun01() {
        console.log($('input:radio[name=optradio]:checked')[0].getAttribute('id'));
        fi034 = $('input:radio[name=optradio]:checked')[0].getAttribute('id');
        document.getElementById(cod1).value = fi034;

        datos.push({ "id": cod,"calif": fi034});
        document.getElementById('posteo').value = JSON.stringify(datos) ;
        $("#myModal").modal('hide');
    }
    //Termina genera ventana flotante

    function scanQr() {
        let scanner = new Instascan.Scanner({
            video: document.getElementById('preview')
        });
        scanner.addListener('scan', function (content) {
            console.log("Nombre: " + content);
            var desEnc = content;
            DesCodicade = atob(desEnc);
            //console.log(DesCodicade);
            var decrypted = CryptoJS.AES.decrypt(DesCodicade, "");
            //console.log(decrypted);
            console.log("Descode: " + decrypted.toString(CryptoJS.enc.Utf8));
            document.getElementById("texto").value = content;
            cod = content;
            console.log(cod);
            document.getElementById(cod).checked = true;
            activar(cod);
        });
        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length == 1) {
                scanner.start(cameras[0]);
            } else if (cameras.length > 1) {
                scanner.mirror = false;
                scanner.start(cameras[1]);
            }
            else {
                console.error('No cameras found.');
            }
        }).catch(function (e) {
            console.error(e);
        });
    }
    function cance() {
        var limp = cod + "," + "text";
        document.getElementById(cod).checked = false;
        document.getElementById('texto').value = "";
    }
    window.addEventListener('load', comenzar, false)
</script>