<div class="row">
    {{#each datosBD}}
    <div id="Cuad" class="col-md-3 ">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{titulo}} <a href="/notes/edit/{{_id}}"><i class="fas fa-pencil-alt"></i></a>
                </h4>
                <p>{{descripcion}}</p>
                <p>{{time dia}}</p>
                <form action="/notes/editNote/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div id="Cuad" class="card mx-auto">
        <div class="card body">
            <p class="lead"> No tienes ninguna nota</p>
            <a href="/notes/add" class="btn btn-success btn-block">Add</a>
        </div>
    </div>
    {{/each}}
</div>