{{!-- <script src="/JS/singup.js"></script> --}}
<div id="Cuad" class="row">
    <div class="col-md-4 mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <h3>
                    SignUp
                </h3>
            </div>
            <div class="card-body">
                <img id="login" src="/imagen/1-22.jpg" alt="logo Antz"
                    class="card-img-top mx-auto m-2 rounded-circle w-20">

                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" name="Nombre" value="{{Nombre}}" placeholder="Nombre completo"
                            autocomplete="off" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="usuario" value="{{usuario}}" placeholder="Usuario" class="form-control"
                            autofocus>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" value="{{password}}" placeholder="Password"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password1" value="{{password1}}" placeholder="Confirma tu Password"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="Centro" value="{{Centro}}" placeholder="Nombre del Centro Escolar"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="ClaveCentro" value="{{ClaveCentro}}"
                            placeholder="Clave del Centro Escolar" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <select id="Materia" value="" placeholder="Materia" name="Materia" class="form-control"
                            onchange="evento({{json01}})">
                            <option disabled selected>Selecciona una materia</option>
                            {{#each materias}}
                            <option value="{{_id}}">
                                <p>{{_id}}</p>
                            </option>
                            {{/each}}
                        </select>
                        <select id="Grado" value="" placeholder="Materia" name="Grado" class="form-control">
                            <option disabled selected>Grado</option>
                        </select>
                        <input type="text" id="grupo" name="grupo" value="{{grupo}}" placeholder="grupo" class="form-control">

                        <a class="btn btn-success" id="btn01">add</a>
                    </div>
                    <div class="input-group mb-3" id="Tabla">
                    </div>
                    <div class="form-group">
                        <select id="Tipo" name="Tipo" class="form-control">
                            <option value="">Elige una opción</option>
                            <option value="Administrador">Administrador</option>
                            <option value="Docente">Docente</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">
                            SingUp
                        </button>
                    </div>
                    <div class="input-group mb-3" id="Tabla1">
                        <input type="text" value="{{Texto}}" id="Texto" name="Texto" value="Hola">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const materia = document.getElementById('Materia');
    const grad = document.getElementById('Grado');
    const boton = document.getElementById('btn01');
    const tablaDiv = document.getElementById('Tabla');
    const grup = document.getElementById('grupo');

    var datos = [];

    function comenzar() {
        document.getElementById("Tabla").innerHTML = "";
        carga();
        boton.addEventListener('click', agregar1, false);
    }

    function tablaEner() {
        document.getElementById('Tabla').innerHTML = "";
        document.getElementById('Texto').value = JSON.stringify(datos);

        var body = document.getElementById('Tabla');
        var tabla = document.createElement("table");
        var tblBody = document.createElement("tbody");
        var fila = document.createElement("tr");
        for (var y = 0; y < 3; y++) {
            var celda = document.createElement("td");
            if (y == 0) {
                var butn = document.createTextNode("Materia ");
            } else if (y == 1) { 
                butn = document.createTextNode("Grado ");
            }else{
                butn = document.createTextNode("Grupo ");
            }
            celda.appendChild(butn);
            fila.appendChild(celda);
        }
        tblBody.appendChild(fila);
        // Creamos las celdas
        for (var i = 0; i < datos.length; i++) {
            fila = document.createElement("tr");
            for (var j = 0; j < 4; j++) {
                if (j == 0) {
                    celda = document.createElement("td");
                    butn = document.createTextNode(datos[i].Materia);
                } else if (j == 1) {
                    celda = document.createElement("td");
                    butn = document.createTextNode(datos[i].Grado);
                } else if (j == 2) {
                    celda = document.createElement("td");
                    butn = document.createTextNode(datos[i].Grupo);
                } else {
                    celda = document.createElement("td");
                    butn = document.createElement('a');
                    var ima = document.createElement('i');
                    ima.setAttribute("id", datos[i].Materia + "," + i);
                    ima.setAttribute('class', 'fas fa-trash');
                    butn.appendChild(ima);
                    butn.addEventListener("click", eliminarPorName, false);
                }
                celda.appendChild(butn);
                fila.appendChild(celda);
            }
            tblBody.appendChild(fila);
        }
        tabla.appendChild(tblBody);
        body.appendChild(tabla);
        tabla.setAttribute('class', 'table table-dark');
    }

    function evento(e) {
        var e = JSON.parse('[' + "{{json01}}".replace(/&quot;/g, '"') + ']');
        grad.innerHTML = "<option disabled selected>Grado</option>"
        console.log(e.length);
        console.log(materia.value);

        for (var i = 0; i < e.length; i++) {
            if (materia.value == e[i]._id) {
                var gra1 = e[i].entries;
                console.log(gra1);
                for (var y = 0; y < gra1.length; y++) {
                    grad.innerHTML += "<option value=" + gra1[y] + ">" + gra1[y] + "</option>"
                }
            }
        }
    }

    function eliminarPorName(e) {
        var arrayDeCadenas = e.target.id.split(",");
        var elimi = arrayDeCadenas[1]
        let remo1 = datos.splice(elimi, 1);
        tablaEner();
    }

    function agregar1() {
        datos.push({ Materia: materia.value, Grado: grad.value, Grupo: grup.value })
        tablaEner();
    }

    function carga() {
        var str = [{}];
        str1 = "{{Texto}}";
        if (str1 == "") {
            datos.push();
        } else {
            var str = str1;
            var res = str.replace(/&quot;/g, '"');
            var jss = JSON.parse(res);
            for (var propiedad in jss) {
                datos.push({ Materia: jss[propiedad].Materia, Grado: jss[propiedad].Grado,Grupo:jss[propiedad].Grupo });
            }
            tablaEner();
        }

        document.getElementById('Texto').value = JSON.stringify(datos);
        document.getElementById("Tipo").value = "{{Tipo}}";
    }

    window.addEventListener("load", comenzar, false);
</script>