{{  json01}}
<div id="Cuad" class="row">
    <div class="col-md-4 mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <h3>
                    SignUp
                </h3>
            </div>
            <div class="card-body">
                <img id="login" src="/imagen/1-22.jpg" alt="logo Antz"
                    class="card-img-top mx-auto m-2 rounded-circle w-20">

                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" name="usuario" value="{{usuario}}" placeholder="Usuario" class="form-control"
                            autofocus>
                    </div>

                    <div class="form-group">
                        <input type="text" name="Nombre" value="{{Nombre}}" placeholder="Nombre completo"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" value="" placeholder="Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password1" value="" placeholder="Confirma tu Password"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="Centro" value="" placeholder="Nombre del Centro Escolar"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="ClaveCentro" value="" placeholder="Clave del Centro Escolar"
                            class="form-control">
                    </div>

                    <div class="input-group mb-3">
                        <select id="Materia" value="" placeholder="Materia" name="Materia" class="form-control"
                            onchange=evento([{{json01}}])>
                            <option disabled selected>Selecciona una materia</option>
                            {{#each materias}}
                            <option value={{_id}}>
                                <p>{{ _id}}</p>
                            </option>
                            {{/each}}
                        </select>

                        <select id="Grado" value="" placeholder="Materia" name="Grado" class="form-control">
                            <option disabled selected>Grado</option>
                        </select>
                        <a class="btn btn-success" id="btn01">add</a>

                    </div>
                    <div class="input-group mb-3" id="Tabla">

                        {{!-- <input type="hidden" value="" id="Texto" name="Texto"> --}}

                    </div>
                    <div class="form-group">
                        <select id="Tipo" name="Tipo" class="form-control">
                            <option value="Administrador">Administrador</option>
                            <option value="Docente">Docente</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">
                            SingUp
                        </button>
                    </div>
                    <div class="input-group mb-3" id="Tabla1">
                        <input type="text" value="" id="Texto" name="Texto">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const materia = document.getElementById('Materia');
    const grad = document.getElementById('Grado');
    const boton = document.getElementById('btn01');
    const tablaDiv = document.getElementById('Tabla');
    var datos = [];
    function comenzar() {
        document.getElementById("Tabla").innerHTML = "";
        //tablaDiv.innerHTML += '<input type="text" value="" id="Texto" name="Texto" >'
        //materia.addEventListener('change',evento([{{json01}}]),true);
        boton.addEventListener('click', agregar1, false);
    }

    function tablaEner(){
        //document.getElementById("Tabla").innerHTML = "";
        //tabla.innerHTML += '<input type="text" value="" id="Texto" name="Texto" >'
        var tabla1 = document.createElement("table");
        var tblBody1 = document.createElement("tbody");

        var hilera = document.createElement("tr");
        var celda = document.createElement("td");
        var textoCelda = document.createTextNode("Materia ");

        celda.appendChild(textoCelda);
        hilera.appendChild(celda);
        tblBody1.appendChild(hilera);

        celda = document.createElement("td");
        textoCelda = document.createTextNode("Grado ");
        celda.appendChild(textoCelda);
        hilera.appendChild(celda);
        tblBody1.appendChild(hilera);

        celda = document.createElement("td");
        butn = document.createElement("a")
        butn.innerHTML = "";
        butn.setAttribute('class', 'btn btn-danger btn-block');
        //butn.addEventListener("click", eliminarPorName());
        celda.appendChild(butn);
        hilera.appendChild(celda);
        tblBody1.appendChild(hilera);


        for (var i = 0; i < datos.length; i++) {
            hilera = document.createElement("tr");
            celda = document.createElement("td");
            textoCelda = document.createTextNode(datos[i].Materia);
            celda.appendChild(textoCelda);
            hilera.appendChild(celda);
            tblBody1.appendChild(hilera);

            celda = document.createElement("td");
            textoCelda = document.createTextNode(datos[i].Grado);
            celda.appendChild(textoCelda);
            hilera.appendChild(celda);
            tblBody1.appendChild(hilera);


            celda = document.createElement("td");
            butn = document.createElement("a")
            butn.setAttribute("id", datos[i].Materia);
            butn.innerHTML = datos[i].Materia;
            butn.setAttribute('class', 'btn btn-danger btn-block');
            butn.addEventListener("click", eliminarPorName, false);
            celda.appendChild(butn);
            hilera.appendChild(celda);
            tblBody1.appendChild(hilera);


            //console.log("datos: " + JSON.stringify(datos))
            document.getElementById('Texto').value = JSON.stringify(datos);

            tabla1.appendChild(tblBody1);
            tablaDiv.appendChild(tabla1);
            tabla1.setAttribute('class', 'table table-ligth');
        }
    }

    function agregar() {
        //var tablaDiv1 = document.getElementById('Tabla');
        document.getElementById("Tabla").innerHTML = "";
        //tablaDiv1.innerHTML += '<input type="text" value="" id="Texto" name="Texto" >'

        datos.push({ Materia: materia.value, Grado: grad.value })
        tablaEner();
        
    }
    function evento(e) {
        grad.innerHTML = "<option disabled selected>Grado</option>"
        for (var i = 0; i < e.length; i++) {
            if (materia.value == e[i]._id) {
                var gra1 = e[i].entries;
                for (var y = 0; y < gra1.length; y++) {
                    grad.innerHTML += "<option value=" + gra1[y] + ">" + gra1[y] + "</option>"
                }

            }

        }

    }

    function eliminarPorName(e) {
        
        console.log(e.target.id);
        var arrayDeCadenas = e.target.id.split(",");
        var elimi=arrayDeCadenas[1]
        console.log("vary:"+arrayDeCadenas[0])
        datos.splice(elimi);
        tablaEner();


        //console.log(datos);

        //datos.hobbies.forEach(function (currentValue, index, arr) {
        //    if (datos[index].Materia == name) {
        //        datos.hobbies.splice(index, index);
        //    }
        //})
    }
    function agregar1() {
        datos.push({ Materia: materia.value, Grado: grad.value })
        document.getElementById('Tabla').innerHTML = "";
        var body = document.getElementById('Tabla');
        var tabla = document.createElement("table");
        var tblBody = document.createElement("tbody");

        var fila = document.createElement("tr");

        var celda = document.createElement("td");
        var butn = document.createTextNode("Materia ");
        celda.appendChild(butn);
        fila.appendChild(celda);

        celda = document.createElement("td");
        butn = document.createTextNode("Grado ");
        celda.appendChild(butn);
        fila.appendChild(celda);

        tblBody.appendChild(fila);

        // Creamos las celdas
        for (var i = 0; i < datos.length; i++) {
            fila = document.createElement("tr");
            for (var j = 0; j < 3; j++) {
                if (j == 0) {
                    celda = document.createElement("td");
                    butn = document.createTextNode(datos[i].Materia);
                } else if (j == 1) {
                    celda = document.createElement("td");
                    butn = document.createTextNode(datos[i].Grado);
                } else {
                    celda = document.createElement("td");
                    butn = document.createElement('a');
                    
                    var ima=document.createElement('i');
                    //butn.innerHTML = datos[i].Materia;
                    //butn.setAttribute('class', 'btn btn-danger btn-block');
                    ima.setAttribute("id", datos[i].Materia + "," + i);
                    ima.setAttribute('class', 'fas fa-trash');
                    butn.appendChild(ima);
                    

                    
                    butn.addEventListener("click", eliminarPorName, false);
                }
                celda.appendChild(butn);
                fila.appendChild(celda);
            }
            // agregamos la hilera al final de la tabla (al final del elemento tblbody)
            tblBody.appendChild(fila);
        }
        // posicionamos el <tbody> debajo del elemento <table>
        tabla.appendChild(tblBody);
        // appends <table> into <body>
        body.appendChild(tabla);
        // modifica el atributo "border" de la tabla y lo fija a "2";
        //tabla.setAttribute("border", 2);
        //tabla.setAttribute("id", "tabla");
        tabla.setAttribute('class', 'table table-dark');
        //var result = document.getElementById("resultado");
        //result.appendChild(tabla);
    }
    window.addEventListener("load", comenzar, false);
</script>